html, body{
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

#container {
  height: 100%;
}

#container:after {
  /* display: block; */
  /* clear: both; */
}

.item {
  width: 100%;
  height: 25%;
  /* border: 10px solid #333; */
  /* border-color: hsla(0, 0%, 0%, 0.3); */
  line-height: 25%;
  /* box-shadow: inset 0 10px 20px #000000; */
  box-shadow: inset 1px 4px 9px -6px #000; 
}

.item h1 {
  height: 226px;
  line-height: 226px;
  text-align: center;
  font-size: 5vh;
  color: #fff;
  text-shadow: 5px 5px 0px hsla(0, 0%, 0%, 0.3);
  margin: 0;
  padding: 0;
}
