html, body{
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#jobs {
  height: 100%;
}

.job-container {
  width: 100%;
  position: relative;
}

.job-container h1 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  font-size: 20vmin;
  color: #fff;
  background: transparent;
  text-shadow: 0.05em 0.05em 0px hsla(0, 0%, 0%, 0.3);
}

.job-container .progress {
  background-color: hsl(0, 100%, 50%);
  position: absolute;
  height: 100%;
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  /* .job-container { */
  /*   box-shadow: inset 1px 4px 6px -6px #000; */
  /* } */

  /* .progress { */
  /*   box-shadow: inset 1px 4px 6px -6px #000; */
  /* } */

  .job-container h1 {
    font-weight: 400;
  }
}

.job-container:not(:first-child) {
  box-shadow: inset 0 8px 8px -10px #000;
}

.job-container.in-progress {
  box-shadow: inset 0 8px 8px -10px #000,
              inset 0 -8px 8px -10px #000;

}

.job-container.in-progress:first-child {
  box-shadow: inset 0 -8px 8px -10px #000;
}

.job-container .progress {
  box-shadow: inset 1px 7px 1px -6px rgba(0, 0, 0, 0.5),
              inset 1px -7px 1px -6px rgba(0, 0, 0, 0.5);
}

.job-container.in-progress + .job-container .progress {
  box-shadow: inset 1px -7px 1px -6px rgba(0, 0, 0, 0.5);
}

.job-container.in-progress + .job-container:last-child .progress {
  box-shadow: none;
}

.job-container.in-progress + .job-container {
  box-shadow: inset 0 -8px 8px -10px #000;
}

.job-container.in-progress + .job-container:not(.in-progress) {;
  box-shadow: none;
}

.job-container.in-progress + .job-container:last-child {
  box-shadow: none;
}

.job-container:first-child .progress {
  box-shadow: inset 1px -7px 1px -6px rgba(0, 0, 0, 0.5);
}

.job-container.fail {
  background-color: hsl(0, 100%, 30%);
}

.job-container.fail.in-progress {
  background-color: hsl(0, 100%, 25%);
}

.job-container.fail .progress {
  background-color: hsl(0, 100%, 40%);
}

.job-container.success {
  background-color: hsl(100, 100%, 30%);
}

.job-container.success.in-progress {
  background-color: hsl(100, 100%, 25%);
}

.job-container.success .progress {
  background-color: hsl(100, 100%, 40%);
}

.job-container.first-build {
  background-color: #ccc;
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}

.job.container.first-build .progress {
  /* background-color: hsl(120, 100%, 50%); */
}
