html, body{
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#jobs {
  height: 100%;
}

.job-container {
  width: 100%;
  position: relative;
  /* border: 10px solid #333; */
  /* border-color: hsla(0, 0%, 0%, 0.3); */
  /* box-shadow: inset 0 10px 20px #000000; */
  box-shadow: inset 1px 4px 9px -6px #000;
}

.job-container h1 {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  font-size: 10vh;
  color: #fff;
  background: transparent;
  text-shadow: 5px 5px 0px hsla(0, 0%, 0%, 0.3);
}

.progress {
  background-color: hsl(0, 100%, 50%);
  position: absolute;
  height: 100%;
  box-shadow: inset 1px 4px 9px -6px #000;
}

.job-container.fail {
  background-color: hsl(0, 100%, 35%);
}

.job-container.success {
  background-color: hsl(120, 100%, 35%);
}

.job-container.fail .progress {
  background-color: hsl(0, 100%, 50%);
}

.job-container.success .progress {
  background-color: hsl(120, 100%, 50%);
}

.job-container.first {
  background-color: #ccc;
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}

.job.container.first .progress {
  /* background-color: hsl(120, 100%, 50%); */
}

/*
 * -webkit-animation: progress-animation 2s linear infinite;
 * animation: progress-animation 2s linear infinite;
 * -webkit-transition: width .6s ease;
 * transition: width .6s ease;
 */

/*
 * @-webkit-keyframes progress-animation {
 *   from {
 *     background-position: 320px 0;
 *   }
 *   to {
 *     background-position: 0 0;
 *   }
 * }
 */
