<!DOCTYPE html>
<html ng-app="walldisplay">
  <head>
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/walldisplay.css" />
    <script src="javascripts/bower_components/angular/angular.js"></script>
    <script src="javascripts/bower_components/lodash/dist/lodash.js"></script>
    <script src="javascripts/bower_components/eventEmitter/EventEmitter.js"></script>
    <script src="javascripts/bower_components/angular-gravatar/src/md5.js"></script>
    <script src="javascripts/bower_components/angular-gravatar/build/angular-gravatar.js"></script>
    <script src="javascripts/app/gravatar.js"></script>
    <script src="javascripts/app/app.js"></script>
    <script src="javascripts/app/controllers.js"></script>
    <script src="javascripts/app/directives.js"></script>
    <script src="javascripts/app/services.js"></script>
    <script src="javascripts/app/filters.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="jobs" ng-controller="JobCtrl">
      <job data="job" ng-repeat="job in jobs"></job>
    </div>

    <script type="text/ng-template" id="job.html">
      <div class="job-container" ng-class="jobClass(job)">
        <div ng-if="job.status === 'pending'" ng-style="{ width: job.progress + '%' }" class="progress"></div>
        <h1 ng-bind="job.name"></h1>
        <div class="commit">
          <img class="avatar" gravatar-src="job.author_email" gravatar-size="100" />
          <div class="message" ng-bind="job.message | firstline"></div>
        </div>
      </div>
    </script>
  </body>
</html>
