<!DOCTYPE html>
<html ng-app="walldisplay">
  <head>
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/walldisplay.css" />
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/jquery.fittext.js"></script>
    <script src="javascripts/bower_components/angular/angular.js"></script>
    <script src="javascripts/bower_components/lodash/dist/lodash.js"></script>
    <script src="javascripts/bower_components/eventEmitter/EventEmitter.js"></script>
    <script src="javascripts/app/app.js"></script>
    <script src="javascripts/app/controllers.js"></script>
    <script src="javascripts/app/directives.js"></script>
    <script src="javascripts/app/services.js"></script>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
      ':35729/livereload.js?snipver=2"></' + 'script>')</script>
  </head>
  <body>
    <div id="jobs" ng-controller="JobCtrl">
      <job data="job" ng-repeat="job in jobs"></job>
    </div>

    <script type="text/ng-template" id="job.html">
      <div class="job-container" ng-class="jobClass(job)">
        <div ng-if="job.status === 'pending'" ng-style="{ width: job.progress + '%' }" class="progress"></div>
        <h1>{{job.name}}</h1>
      </div>
    </script>
  </body>
</html>
